body{
	
}

a{
	text-decoration: none;
	margin:0;
	padding: 0;
}

/*NAV*/


nav{
	font-family: scout;
	background-color:white;
	font-size: 20pt; 
	display: flex;
	justify-content: center;


}

#left{
	display: flex;
	flex-direction: row;
}

.estudio{
	
	font-family: Bold;
	font-size: 50px;

}



#top{
	

background-color:#262626;
margin:0;
padding-top: 10px;
font-size: 10px;
color: white;

}
#icons{
	display: flex;
	flex-flow: row-reverse;
	  justify-content: space-around;
}
.items{
	display: flex;
	justify-content: space-around;
}
nav a{
	color: white;
}


}
#shop{
display: flex;

}


#arg{
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}


.menu{
	text-align: center;
}
/*MAIN*/
/*///////////////TIPOGRAFIAS//////////////////////TIPOGRAFIAS//////////////////////////////////////*/
@font-face {
font-family: scout;
src: url(ScoutCond-Regular.otf);
}
@font-face {
font-family: Extra;
src: url(Scout-ExtraLight.otf);
}
@font-face {
font-family: Thin;
src: url(Scout-Thin.otf);
}
@font-face {
font-family: Regular;
src: url(Scout-Regular.otf);
}

@font-face {
font-family: Bold;
src: url(Scout-Bold.otf);
}
@font-face {
font-family: Light;
src: url(Scout-Light.otf);
}



/*///////////////////////////////////////////////////////////////////////////////////*/
#envios{
	margin-top: 170px;
	padding-top: 5px;
	font-family:Regular; 
	display: flex;
	justify-content: center;
	background-color: #334b67;
	color: white;
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #e9c2d7 ;
	text-decoration: none;
	font-size: 12pt;
	margin-left: 0;
}
#envios a{
	color: white;
	font-family: Thin;
}
#portada{
	display: flex;
	align-content: flex-start;

	background-image: url("img/Estudio12-Challenge_0516.jpg"); 
	background-size: cover;
 width:1500px;
 height: 530px;
}
.title{
	display: flex;
	justify-content: center;
	
	 
	margin-bottom: 20px;
	margin-top: 50px; 

	
}
.title h2{
	font-family:scout;
	margin-right: 15px;
	font-size: 45px;
}
.reloj{
	display: flex;
	justify-content: center;
	text-align: center;
}


/*///////////////////////////////////////////////////////////////////////*/
#extra{
	
	display: flex;
	align-items: center;

	margin-top: 50px;
	align-self: center;
	
}

#over{
	display: flex;
	flex-flow: column;
	padding: 0;
	margin-left:135px;
	align-self: center;
	


	
}

#over img{
	width: 501px;
	margin-left: 0;

}


#woman img{
	width: 500px;
	padding: 0;



}


.double img{
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;

}

/*/////////////////////////////////////////////////////////////////////*/
#four{
	display: flex;
	justify-content: center;
	margin:15px;
	margin-top:0;

}

#four img{
padding:  5px;
}
#fosil h2{
	font-family: Scout;
	font-size: 60px;

}

#fosil p{
	font-family: Light;
	font-size: 15pt;
}

#fosil{
	text-align: center;
}

/*/////////////////////////////////////////////////////////*/

#text{
	margin-top: 20px;
	margin-bottom: 50px;
	padding-top:25px;
	text-align: center;
	border-top-style: solid;
	border-width: 1px;
}


#text p{
	font-family: Extra;
	font-size: 18pt;
	margin: 0px 250px;

}

#text h3{
	font-family: Scout;

}




/*FOOTER STYLES*/
#redes{padding: 30px;
	background-color: #262626;
	text-align:  center; 
}

#cliente{
 
display: flex;
padding: 0;
margin: 0;
}

.atencion{
	display: flex;
	justify-content: center;
}
.atencion h3{
	font-family: Scout;
	text-align: center;

}
.atencion ul{
	list-style: none;
	
	

}
.atencion a{
	text-decoration: none;
	color: black;
	font-size: 10pt;
	font-family: Regular;


}

.atencion li{
	margin-bottom: 8px;
}